<div class="col-xs-12">
  <div class="row">
    <div class="col-xs-4">
      <md-input-container class="md-block">
         <label>Filter Categories</label>
         <md-select ng-model="includedLabels" md-on-open="includedLabels = categoryChartCtrl.chartLabels" multiple>
           <md-option ng-repeat="label in categoryChartCtrl.allLabels"
            ng-click="categoryChartCtrl.updateLabels(label)"
            ng-selected="!categoryChartCtrl.includeLabel(label)"
            ng-value="label">{{label}}</md-option>
         </md-select>
       </md-input-container>
    </div>
    <div class="col-xs-4">
      <md-input-container class="md-block">
        <label for="startDate">Start Date</label>
        <md-datepicker name="startDate" id="startDate"
          md-open-on-focus
          ng-change="categoryChartCtrl.reloadData(categoryChartCtrl.getCategoryParams())"
          ng-model="categoryChartCtrl.startDate"/>
      </md-input-container>
    </div>
    <div class="col-xs-4">
      <md-input-container class="md-block">
        <label for="endDate">End Date</label>
        <md-datepicker name="endDate" id="endDate"
          md-open-on-focus
          ng-change="categoryChartCtrl.reloadData(categoryChartCtrl.getCategoryParams())"
          ng-model="categoryChartCtrl.endDate"/>
      </md-input-container>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <md-tabs md-dynamic-height md-border-bottom md-selected="categoryChartCtrl.selectedIndex"
      ng-if="!categoryChartCtrl.income.isRequesting">
        <md-tab label="Net Dollars" md-on-select="categoryChartCtrl.setOptions()">
          <md-content class="md-padding">
            <div class= "col-xs-12">
              <canvas class="chart chart-doughnut"
                chart-data="categoryChartCtrl.netDollarsData"
                chart-labels="categoryChartCtrl.chartLabels"
                chart-options="categoryChartCtrl.options"
                width="1000"
                height="500"></canvas>
            </div>
          </md-content>
        </md-tab>
      </md-tabs>
    </div>
  </div>
</div>
