<div class="col-xs-12 text-center">
  <div class="row">
    <div class="col-xs-3">
      <md-input-container class="md-block">
         <label>Group Transactions By</label>
         <md-select ng-model="membershipChartCtrl.groupBy" ng-change="membershipChartCtrl.reloadData(membershipChartCtrl.getDataParams())">
           <md-option ng-repeat="option in membershipChartCtrl.groupDataOptions"
            ng-value="option.key">{{option.label}}</md-option>
         </md-select>
       </md-input-container>
    </div>
    <div class="col-xs-3">
      <md-input-container class="md-block">
         <label>Dataset</label>
         <md-select ng-model="membershipChartCtrl.datasetKey" ng-change="membershipChartCtrl.reloadData(membershipChartCtrl.getDataParams())">
           <md-select-header>
             <strong> Income Sources: </strong>
           </md-select-header>
           <md-option ng-repeat="option in membershipChartCtrl.datasetOptions | filter: {type: 'Income'}"
            ng-value="option.key">{{option.displayName}}</md-option>

            <md-select-header>
              <strong> Expense Sources: </strong>
            </md-select-header>
            <md-option ng-repeat="option in membershipChartCtrl.datasetOptions | filter: {type: 'Expense'}"
             ng-value="option.key">{{option.displayName}}</md-option>
         </md-select>
       </md-input-container>
    </div>
    <div class="col-xs-3">
      <md-input-container class="md-block">
        <label for="startDate">Start Date</label>
        <md-datepicker name="startDate" id="startDate"
          md-open-on-focus
          mg-mode="membershipChartCtrl.grouping"
          ng-change="membershipChartCtrl.reloadData(membershipChartCtrl.getDataParams())"
          ng-model="membershipChartCtrl.startDate"/>
      </md-input-container>
    </div>
    <div class="col-xs-3">
      <md-input-container class="md-block">
        <label for="endDate">End Date</label>
        <md-datepicker name="endDate" id="endDate"
          md-open-on-focus
          mg-mode="membershipChartCtrl.grouping"
          ng-change="membershipChartCtrl.reloadData(membershipChartCtrl.getDataParams())"
          ng-model="membershipChartCtrl.endDate"/>
      </md-input-container>
    </div>
  </div>

  <md-tabs md-dynamic-height md-border-bottom md-selected="membershipChartCtrl.selectedIndex"
   ng-if="!membershipChartCtrl.income.isRequesting">
    <md-tab label="Net Dollars" md-on-select="membershipChartCtrl.setOptions()">
      <md-content class="md-padding">
        <div class= "col-xs-12">
          <canvas class="chart chart-bar"
            chart-data="membershipChartCtrl.netDollarsData"
            chart-labels="membershipChartCtrl.chartLabels"
            chart-options="membershipChartCtrl.options"
            width="1000"
            height="500"></canvas>
        </div>
      </md-content>
    </md-tab>
    <md-tab label="Average Dollars" md-on-select="membershipChartCtrl.setOptions()">
      <md-content class="md-padding">
        <div class= "col-xs-12">
          <canvas class="chart chart-bar"
            chart-data="membershipChartCtrl.averageDollarsData"
            chart-labels="membershipChartCtrl.chartLabels"
            chart-options="membershipChartCtrl.options"
            width="1000"
            height="500"></canvas>
        </div>
      </md-content>
    </md-tab>
    <md-tab label="Count" md-on-select="membershipChartCtrl.setOptions()">
      <md-content class="md-padding">
        <div class="col-xs-12">
          <canvas class="chart chart-bar"
            chart-data="membershipChartCtrl.countData"
            chart-labels="membershipChartCtrl.chartLabels"
            chart-options="membershipChartCtrl.options"
            width="1000"
            height="500"></canvas>
        </div>
      </md-content>
    </md-tab>
  </md-tabs>
  <div ng-if="membershipChartCtrl.income.isRequesting">
    Loading
  </div>
</div>
