<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-3">
        <md-input-container class="md-block">
           <label>Category</label>
           <md-select ng-model="transactionTableCtrl.categoryFilter" ng-change="transactionTableCtrl.reloadData(transactionTableCtrl.getDataParams())">
             <md-select-header>
               <strong> Income Sources: </strong>
             </md-select-header>
             <md-option ng-repeat="option in transactionTableCtrl.categories | filter: {transaction_type: 'income'}"
              ng-value="option">{{option.name}}</md-option>

              <md-select-header>
                <strong> Expense Sources: </strong>
              </md-select-header>
              <md-option ng-repeat="option in transactionTableCtrl.categories | filter: {transaction_type: 'expense'}"
               ng-value="option">{{option.name}}</md-option>
           </md-select>
         </md-input-container>
      </div>
      <div class="col-xs-3">
        <md-input-container class="md-block">
           <label>Account</label>
           <md-select ng-model="transactionTableCtrl.accountFilter" ng-change="transactionTableCtrl.reloadData(transactionTableCtrl.getDataParams())">
             <md-option ng-repeat="option in transactionTableCtrl.accounts"
              ng-value="option">{{option.name}}</md-option>
           </md-select>
         </md-input-container>
      </div>
      <div class="col-xs-3">
        <md-input-container class="md-block">
          <label for="startDate">Start Date</label>
          <md-datepicker name="startDate" id="startDate"
            md-open-on-focus
            mg-mode="transactionTableCtrl.grouping"
            ng-change="transactionTableCtrl.reloadData(transactionTableCtrl.getDataParams())"
            ng-model="transactionTableCtrl.startDate"/>
        </md-input-container>
      </div>
      <div class="col-xs-3">
        <md-input-container class="md-block">
          <label for="endDate">End Date</label>
          <md-datepicker name="endDate" id="endDate"
            md-open-on-focus
            mg-mode="transactionTableCtrl.grouping"
            ng-change="transactionTableCtrl.reloadData(transactionTableCtrl.getDataParams())"
            ng-model="transactionTableCtrl.endDate"/>
        </md-input-container>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th ng-repeat="column in transactionTableCtrl.columns" ng-click="column.sort(column)" ng-bind="column.header"></th>
				</tr>
			</thead>
			<tbody>
				<tr class="transaction-row" ng-repeat="transaction in transactionTableCtrl.transactions | orderBy : transactionTableCtrl.sortBy : transactionTableCtrl.reverseSort | filter: transactionTableCtrl.filter ">
          <th ng-repeat="column in transactionTableCtrl.columns" ng-bind="column.body(transaction)"></th>
				</tr>
			</tbody>
		</table>
  </div>
</div>
