<div class="col-xs-12">
  <div class="row">
    <div class="col-xs-4">
      <md-input-container class="md-block">
         <label>Filter Categories</label>
         <md-select ng-model="includedLabels" md-on-open="includedLabels = incomeChartCtrl.chartLabels" multiple>
           <md-option ng-repeat="label in incomeChartCtrl.allLabels"
            ng-click="incomeChartCtrl.updateLabels(label)"
            ng-selected="!incomeChartCtrl.includeLabel(label)"
            ng-value="label">{{label}}</md-option>
         </md-select>
       </md-input-container>
    </div>
    <div class="col-xs-4">
      <md-input-container class="md-block">
        <label for="startDate">Start Date</label>
        <md-datepicker name="startDate" id="startDate"
          md-open-on-focus
          ng-change="incomeChartCtrl.reloadData(incomeChartCtrl.getCategoryParams())"
          ng-model="incomeChartCtrl.startDate"/>
      </md-input-container>
    </div>
    <div class="col-xs-4">
      <md-input-container class="md-block">
        <label for="endDate">End Date</label>
        <md-datepicker name="endDate" id="endDate"
          md-open-on-focus
          ng-change="incomeChartCtrl.reloadData(incomeChartCtrl.getCategoryParams())"
          ng-model="incomeChartCtrl.endDate"/>
      </md-input-container>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <md-tabs md-dynamic-height md-border-bottom md-selected="incomeChartCtrl.selectedIndex"
      ng-if="!incomeChartCtrl.income.isRequesting">
        <md-tab label="Net Dollars" md-on-select="incomeChartCtrl.setOptions()">
          <md-content class="md-padding">
            <div class= "col-xs-12">
              <canvas class="chart chart-doughnut"
                chart-data="incomeChartCtrl.netDollarsData"
                chart-labels="incomeChartCtrl.chartLabels"
                chart-options="incomeChartCtrl.options"
                width="1000"
                height="500"></canvas>
            </div>
          </md-content>
        </md-tab>
        <md-tab label="Average Dollars" md-on-select="incomeChartCtrl.setOptions()">
          <md-content class="md-padding">
            <div class= "col-xs-12">
              <!-- <canvas class="chart chart-doughnut"
                chart-data="incomeChartCtrl.averageDollarsData"
                chart-labels="incomeChartCtrl.chartLabels"
                width="1000"
                height="500"></canvas> -->
            </div>
          </md-content>
        </md-tab>
      </md-tabs>
    </div>
  </div>
</div>
